<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzw.mapper.UserMapper">

    <cache/>

    <resultMap id="xxx" type="string" >

    </resultMap>

    <!--<insert id="save">
        insert into user(name)
        values(#{name})
    </insert>-->

    <select id="queryAllUsers" resultType="com.zzw.pojo.User" useCache="true">
        select id, name
        from user
    </select>

</mapper>